@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
body{ 
    background-color: rgb(140, 248, 78);
    background-image:url(https://i.pinimg.com/564x/6c/4b/99/6c4b993753f0bddb8315ef39b8847440.jpg);
    background-attachment: fixed;
    background-size: cover;
     font-family:poppins,sans-serif

}


main {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    min-height: 100vh;
}
     
header {
    h1, h2 {
        color:black;
        text-align: center;
        margin: 0;
    }
    h1{
        font-size: 4rem;
        font-weight: 300;
    }
    h2{
        font-size: 1,4rem;
        font-weight: 300;
    }
}

 menu{
    display: flex;
    flex-direction: column;
    padding: 0;
    gap: 1rem;

    a:is(:link, :visited) {
        background-color: mediumpurple;
        border-radius: 50px;
        display: flex;
        color: indigo;
        gap: 1rem;
        align-items: center;
        padding: 1rem;
        text-decoration: none;
        transition: all 0.5s ease-in;
        width: 280px;
    }

    
    i{
        background-color:rgb(139, 0, 76);
        border-radius: 20px;
        color: rgb(209, 95, 209);
        font-style: normal;
        display: flex;
        align-items: center;
        transition: all 0.5s ease-in;
        justify-content: center;
        height: 34px;
        width: 34px;
    }
    a:is(:hover) {
        transform: translate(-10px);
        background-color:rgb(240, 0, 152);
    }
    a:is(:hover) i {
        transform: scale(1.4) rotatex(360deg)
    
    }
 }




