@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
body{ 
    background-color: hotpink;
    background-image:url(https://img.freepik.com/vector-gratis/fondo-naranja-abstracto-lineas-efecto-semitono_1017-32107.jpg?size=626&ext=jpg&ga=GA1.1.1269040533.1711497600&semt=ais);
    background-attachment: fixed;
    background-size: cover;
     font-family:poppins,sans-serif

}

nav.controls{
    position: fixed;
    a:is(:link, :visited) {
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:blueviolet;
    height: 40px;
    transform:scale(0.8);
    opacity: 0.6;
    padding: 10px;
    width: 40px;
    transition: all 0.4s ease-in;
     
    }
    a:is(:hover) {
        opacity: 1;
        transform: scale(1);
    }
    svg {
       /* transform: rotate(180deg); */
        width: 40px;
    }
}
main {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    min-height: 100vh;

    section{
        border-radius: 10px;
        background-color:#fff9;
        color: #000600;;
        padding: 10px;
        width: 80%;
        justify-content: center;
        display: flex;
        h3 {
            border-bottom: 2px dotted #000400;
            color: #000600;
            font-size: 1.6rem;
            margin: 0;
            width: fit-content;
    
        }
        p{
            font-size: 1.4rem;
            margin: 10px 0;
        }
        xmp {
            border-radius: 10px;
            background: color #000900;;
            color:#fff9;
            padding: 0 10px 10px 10px;
    
        }
    }
}
     
header {
    h1, h2 {
        color:black;
        text-align: center;
        margin: 0;
    }
    h1{
        font-size: 4rem;
        font-weight: 300;
    }
    h2{
        font-size: 1,4rem;
        font-weight: 300;
    }
}

 menu{
    display: flex;
    flex-direction: column;
    padding: 0;
    gap: 1rem;

    a:is(:link, :visited){
        background-color:#ffA834;
        border-radius: 50px;
        display: flex;
        color: black;
        gap: 1rem;
        align-items: center;
        padding: 1rem;
        text-decoration: none;
        transition: all 0.5s ease-in;
        width: 280px;
        i{
            background-color:tomato;
            border-radius: 20px;
            color:ghostwhite;
            font-style: normal;
            display: flex;
            align-items: center;
            transition: all 0.5s ease-in;
            justify-content: center;
            height: 34px;
            width: 34px;
        }
    }
 }


a:is(:hover) i {
    transform: translate(-10px);
    background-color:blue;
a:is(:hover) i {
    transform: scale(1.4);
    }
}
