extends inc/layout.pug 

block title     
    title Inheritance
block content 
    header 
        h1 Inhetirance
    section 
        P Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates eligendi excepturi fugit ratione et ipsa rem porro, quibusdam alias tempora quos autem. Laborum, quaerat! Iste, libero commodi. Omnis, natus corrupti!