@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
body{ 
    background-color: hotpink;
    background-image:url(http://tinyurl.com/mttmzucr);
    background-attachment: fixed;
    background-size: cover;
     font-family:poppins,sans-serif

}

nav.controls{
    a:is(:link, :visited) {
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: dodgerblue;
    height: 40px;
    transform:scale(0.8);
    opacity: 0.6;
    padding: 10px;
    width: 40px;
    transition: all 0.4s ease-in;
     
    }
    a:is(:hover) {
        opacity: 1;
        transform: scale(1);
    }
    svg {
        transform: rotate(180deg);
        width: 40px;
    }
}
main {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    min-height: 100vh;

    section{
        border-radius: 10px;
        background-color: rgb(15, 126, 223);
        color: black;
        padding: 10px;
        width: 400px;
        h3 {
            color: black;
            font-size: 1.6rem;
            margin: 0;
            width: fit-content;
    
        }
        p{
            font-size: 1.8rem;
            margin: 10px 0;
        }
        xmp {
            border-radius: 10px;
            background-color: black;
            color: antiquewhite;
            padding: 0 10px 10px 10px;
    
        }
    }
}
     
header {
    h1, h2 {
        color:black;
        text-align: center;
        margin: 0;
    }
    h1{
        font-size: 4rem;
        font-weight: 300;
    }
    h2{
        font-size: 1,4rem;
        font-weight: 300;
    }
}

 menu{
    display: flex;
    flex-direction: column;
    padding: 0;
    gap: 1rem;

    a:is(:link, :visited){
        background-color: rgb(24, 236, 236);
        border-radius: 50px;
        display: flex;
        color: rgb(139, 0, 76);
        gap: 1rem;
        align-items: center;
        padding: 1rem;
        text-decoration: none;
        transition: all 0.5s ease-in;
        width: 280px;
    }
 }

i{
    background-color:rgb(139, 0, 120);
    border-radius: 20px;
    color: rgb(198, 130, 238);
    font-style: normal;
    display: flex;
    align-items: center;
    transition: all 0.5s ease-in;
    justify-content: center;
    height: 34px;
    width: 34px;
}
a:is(:hover) i {
    transform: translate(-10px);
    background-color:rgb(240, 0, 32);
}
a:is(:hover) i {
    transform: scale(1.4) 
}
