@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

body{ 
    background-color:rgba(74, 153, 78, 0.6);
    background-image:url(background-color:#3C603A);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='200' height='200' viewBox='0 0 200 200'%3E%3Cg %3E%3Cpolygon fill='%2335612e' points='100 57.1 64 93.1 71.5 100.6 100 72.1'/%3E%3Cpolygon fill='%23487540' points='100 57.1 100 72.1 128.6 100.6 136.1 93.1'/%3E%3Cpolygon fill='%2335612e' points='100 163.2 100 178.2 170.7 107.5 170.8 92.4'/%3E%3Cpolygon fill='%23487540' points='100 163.2 29.2 92.5 29.2 107.5 100 178.2'/%3E%3Cpath fill='%235C8953' d='M100 21.8L29.2 92.5l70.7 70.7l70.7-70.7L100 21.8z M100 127.9L64.6 92.5L100 57.1l35.4 35.4L100 127.9z'/%3E%3Cpolygon fill='%233d491f' points='0 157.1 0 172.1 28.6 200.6 36.1 193.1'/%3E%3Cpolygon fill='%234c582d' points='70.7 200 70.8 192.4 63.2 200'/%3E%3Cpolygon fill='%235B673B' points='27.8 200 63.2 200 70.7 192.5 0 121.8 0 157.2 35.3 192.5'/%3E%3Cpolygon fill='%234c582d' points='200 157.1 164 193.1 171.5 200.6 200 172.1'/%3E%3Cpolygon fill='%233d491f' points='136.7 200 129.2 192.5 129.2 200'/%3E%3Cpolygon fill='%235B673B' points='172.1 200 164.6 192.5 200 157.1 200 157.2 200 121.8 200 121.8 129.2 192.5 136.7 200'/%3E%3Cpolygon fill='%233d491f' points='129.2 0 129.2 7.5 200 78.2 200 63.2 136.7 0'/%3E%3Cpolygon fill='%235B673B' points='200 27.8 200 27.9 172.1 0 136.7 0 200 63.2 200 63.2'/%3E%3Cpolygon fill='%234c582d' points='63.2 0 0 63.2 0 78.2 70.7 7.5 70.7 0'/%3E%3Cpolygon fill='%235B673B' points='0 63.2 63.2 0 27.8 0 0 27.8'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
     font-family:poppins,sans-serif

}

nav.controls{
    position: fixed;
    a:is(:link, :visited) {
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:rgb(221, 220, 160);
    height: 40px;
    transform:scale(0.8);
    opacity: 0.6;
    padding: 10px;
    width: 40px;
    transition: all 0.4s ease-in;
     
    }
    a:is(:hover) {
        opacity: 1;
        transform: scale(1);
    }
    svg {
        /* transform: rotate(180deg); */
        width: 40px;
    }
}
main {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    min-height: 100vh;
 
    section {
        border-radius: 10px;
        background-color:#fff9;
        color: #000600;
        padding: 10px;
        width: 400px;
        h3 {
            border-bottom: 2px dotted #000400;
            color: #000600;
            font-size: 1.6rem;
            margin: 0;
            width: fit-content;
    
        }
        p{
            font-size: 1.4rem;
            margin: 10px 0;
        }
        xmp {
            border-radius: 10px;
            background: color #000900;
            color:#fff9;
            padding: 0 10px 10px 10px;
    
        }
    }
}
     
header {
    h1, h2 {
        color:#0009;
        text-align: center;
        margin: 0;
    }
    h1{
        font-size: 3.4rem;
        font-weight: 400;
    }
    h2{
        font-size: 1,4rem;
        font-weight: 300;
    }
}

 menu{
    display: flex;
    flex-direction: column;
    padding: 0;
    gap: 0.4rem;

    a:is(:link, :visited){
        background-color:seashell;
        border-radius: 50px;
        display: flex;
        color:black;
        gap: 1rem;
        align-items: center;
        padding: 1rem;
        text-decoration: none;
        transition: all 0.5s ease-in;
        width: 280px;
    }
 }

i{
    background-color:rgb(0, 139, 116);
    border-radius: 20px;
    color:aliceblue;
    font-style: normal;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in;
    height: 34px;
    width: 34px;
}
a:is(:hover) i {
    transform: translate(-10px);
    background-color:rgb(14, 207, 207);
}
a:is(:hover) i {
    transform: scale(1.4);
}


